body {
    display: flex;
    align-items: center;
    height: 97.5vh;
    justify-content: center;
    background-color: black;
}

section{
    position: relative;
}

.pop-up{
    position: absolute;
    top: -12%;
    right: -12%;
    width: 125%;
    height: 125%;
    background-color: white;
    color: black;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: min(5vw, 5vh);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
}

.for-grid{
    width: min(90vw, 90vh);
    height: min(90vw, 90vh);
    margin: auto;
    background-color: white;
    display: flex;
    justify-content: space-between ;
    flex-direction: column;
}

.main-div{
    width: 100%;
    height: 33.33%;
    display: flex;
    flex-direction: row;
}

.central-main{
    border: solid;
    border-width: min(0.5vw, 0.5vh) 0px;
}

.main-div div{
    width: 33.33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: min(10vw, 10vh);
}

#sub-central{
    border: solid;
    border-width: 0px min(0.5vw, 0.5vh);
}
