body {
    display: flex;
    align-items: center;
    height: 97.5vh;
    justify-content: center;
    background-color: black;
}

section{
    position: relative;
}

.pop-up{
    position: absolute;
    top: -12%;
    right: -12%;
    width: 125%;
    height: 125%;
    background-color: white;
    color: black;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
}

.for-grid{
    width: 460px;
    height: 460px;
    margin: auto;
    background-color: white;
    display: flex;
    justify-content: space-between ;
    flex-direction: column;
}

.main-div{
    width: 460px;
    height: 150px;
    display: flex;
    flex-direction: row;
}

.central-main{
    border: solid;
    border-width: 5px 0px;
}

.main-div div{
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}

#sub-central{
    border: solid;
    border-width: 0px 5px;
}